{{!
  navigation.hbs
  The site navigation.
  This partial will display in index.hbs
}}
<nav class="site">
    <div class="wrapper">
        <a class="logo" href="/">SCONES</a>
        <ul class="main-links">
            <div class="wrapper">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
            </div>
        </ul>
    </div>
</nav>
